<% layout("layouts/boilerplate") %>
<body>
    <div class="row mt-3">
    <div class="col-8 offset-2">
    <br>
    <h3>Create a New Listing</h3>
    <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
       <div class="mb-3">
            <label for="title" class="form-lable">Title</label>
            <input type="text" name="listing[title]" placeholder="Add a catchy title" class="form-control" required>
            <div class="invalid-feedback">Title is require</div>
       </div>
       
        <div class="mb-3">
            <label for="description" class="form-lable">Description</label>
            <textarea name="listing[description]" placeholder="enter descrition" class="form-control" required></textarea>
            <div class="invalid-feedback">Enter Short description</div>
        </div>
        <div class="mb-3">
            <label for="image" class="form-lable">Upload Listing Image</label>
            <input type="file" name="listing[image]"  class="form-control" required>
        </div>
        <div class="row">
           <div class="mb-3 col-md-4">
            <label for="price" class="form-lable">Price</label>
            <input type="number" name="listing[price]" placeholder="1500" class="form-control" required>
             <div class="invalid-feedback">Price is required</div>
       </div>
    
        <div class="mb-3 col-md-8">
            <label for="location" class="form-lable">Location</label>
            <input type="text" name="listing[location]" placeholder="Mumbai,Jaipur" class="form-control" required>
            <div class="invalid-feedback">Location is required</div>
        </div>
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
            <label for="country" class="form-lable">Country</label>
            <input type="text" name="listing[country]" placeholder="India" class="form-control" required>
            <div class="invalid-feedback">Country is required</div>
        </div>
        <div class="mb-3 col-md-8">
            <label for="category" class="form-lable">Category</label>
            <select name="listing[category]" id="category" class="form-control" required>
                <option value="trending">Trending</option>
                <option value="rooms">Rooms</option>
                <option value="iconic-cities">Iconic Cities</option>
                <option value="mountains">Mountains</option>
                <option value="castles">Castles</option>
                <option value="pools">Amazing Pools</option>
                <option value="camping">Camping</option>
                <option value="farms">Farms</option>
                <option value="arctic">Arctic</option>
                <option value="domes">Domes</option>
                <option value="boats">Boats</option>
            </select>
        </div>
        </div>
        <button class="btn btn-dark add-btn mt-3" style="background-color:#fe424d; border: none;">Add</button>
        <br><br>
    </form>
    </div>
    </div>
</body>